# Created by pytest automatically.
*
# Python cache
*devcli/__pycache__/
*.pyc
*.pytest_cache/

# Virtual environment
venv/

# Packaging
*.egg-info/

# Pytest
*tests/_pycache_/

# Build
dist/
build/

# IDE
.vscode/
.idea/